Step 1. Importing the dependencies

In [2]:
import pandas as pd

Step 2. Load the data

In [3]:
df = pd.read_csv('Amazon Sales data.csv')

In [4]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [13]:
df['Order_Date'] = pd.to_datetime(df['Order Date'])

In [19]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Order_Date,Ship_Date
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50,2010-05-28,2010-06-27
1,Central America and the Caribbean,Grenada,Cereal,Online,C,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36,2012-08-22,2012-09-15
2,Europe,Russia,Office Supplies,Offline,L,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75,2014-05-02,2014-05-08
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82,2014-06-20,2014-07-05
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50,2013-02-01,2013-02-06

In [16]:
df['Ship_Date'] = pd.to_datetime(df['Ship Date'])

In [22]:
df.to_csv('amazon_sales_data.csv',index=False)

In [20]:
#df = df.drop('Order Date',axis=1)
df = df.drop('Ship Date',axis=1)

In [26]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order ID', 'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue',
       'Total Cost', 'Total Profit', 'Order_Date', 'Ship_Date'],
      dtype='object')

In [29]:
df['Total Revenue'].sum()

137348768.31

In [62]:
tr = df.groupby("Country")["Total Revenue"].sum().reset_index()

In [73]:
#print(tr)
tr.sort_values(by='Total Revenue',ascending=False)

         Country  Total Revenue
24      Honduras     6336545.48
46       Myanmar     6161257.90
16      Djibouti     6052890.86
72  Turkmenistan     5822036.20
41        Mexico     5643356.55
..           ...            ...
70         Syria       35304.72
63      Slovakia       26344.26
47   New Zealand       20404.71
30    Kyrgyzstan       19103.44
29        Kuwait        4870.26

[76 rows x 2 columns]